DATABASE_URL=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

NODE_ENV=development
PORT=3000
JWT_SECRET=

SEED_ADMIN_EMAIL=admin@dogear.local
SEED_ADMIN_PASSWORD=
DEV_PARTNER_API_KEY=